

// Modules and Variables
$desktop-breakpoint: 767px;

@import 'modules/all';

// Partials

canvas {
	border: 1px solid black;
}
body {
	background-image: url(../images/bg-black4.jpg);
	background-repeat: no-repeat;
	background-size: cover;    
	background-position: top center;
    background-attachment: fixed;

    &.slide-1 {
    	background-image: url(../images/bg-black4.jpg);
    }
    &.slide-2 {
    	background-image: none;
    }
    &.slide-3 {
    	background-image: url(../images/bg-black4.jpg);
    }
    &.slide-4 {
    	background-image: none;
    }
}
#frame {
	display: none;
}

.canvas-outer {
	width: 433px;
	height: 433px;
}

input[type=range] {
    display: none;

    &.active {
        display: block;
    }
}